<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
</head>
<body>
    <table width="600" align="center" bordercolor="#cccccc" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9" border="1">
        <tr>
            <td align="center">
                <table cellspacing="40" cellpadding="0" bgcolor="#ffffff" border="0">
                    <tr>
                        <td align="center">
                          <img src="../../../public/logo-no-background.png" alt="Company Logo" style="display: block; margin: 0 auto; width: 200px; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h1 style="color: #333333;">Password Change Confirmation</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: #555555;">Dear {user_name},</p>
                            <p style="color: #555555;">Your password has been successfully changed. If you did not make this change, please contact our support team immediately.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="margin-top: 20px;">
                            <p style="color: #555555;">Best regards,<br>The MeetX Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>
</body>
</html>
